@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<div class="breadcrumb-area bg-color ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-title text-center">
                    <h1>about</h1>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>about</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- about-area-start -->
<div class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 ">
                <div class="single-about mb-30">
                    <div class="about-text">
                        <h4>Achievement</h4>
                        <p>In dui magna, posuere eget, vestibulum et, tempor auctor, justo. In ac felis quis tortor malesuada pretium. Pellentesque auctor neque nec urna.</p>
                        <a class="more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <div class="single-about mb-30">
                    <div class="about-text">
                        <h4>Experience</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna, posuere eget, vestibulum et, tempor.</p>
                        <a class="more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <div class="single-about mb-30">
                    <div class="our-skill">
                        <h6 class="progress-title">Design <span class="pull-right"><span>90</span>%</span></h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            </div>
                        </div>
                        <h6 class="progress-title">Branding<span class="pull-right"><span>60</span>%</span></h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            </div>
                        </div>
                        <h6 class="progress-title">Websites<span class="pull-right"><span>75</span>%</span></h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-area-end -->
<!-- counter-area-start -->
<div class="counter-area fix">
    <div class="single-counter">
        <div class="counter-text">
            <h3>
                <span class="counter">950</span>
            </h3>
            <h4>Downloads</h4>
        </div>
    </div>
    <div class="single-counter">
        <div class="counter-text">
            <h3>
                <span class="counter">643</span>
            </h3>
            <h4>Happy Customers</h4>
        </div>
    </div>
    <div class="single-counter">
        <div class="counter-text">
            <h3>
                <span class="counter">18</span>
            </h3>
            <h4>Valid layouts</h4>
        </div>
    </div>
    <div class="single-counter">
        <div class="counter-text">
            <h3>
                <span class="counter">572</span>
            </h3>
            <h4>Cups of tea</h4>
        </div>
    </div>
</div>
<!-- counter-area-end -->
<!-- service-area-start -->
<div class="service-area pt-80 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-title text-center">
                    <h2>Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-icon">
                        <i class="fa fa-image"></i>
                    </div>
                    <div class="service-text">
                        <h4>Creative ideas</h4>
                        <p> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-icon">
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                    <div class="service-text">
                        <h4>Creative ideas</h4>
                        <p> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="service-text">
                        <h4>Pixel Perfect design</h4>
                        <p> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="service-text">
                        <h4>Customers support</h4>
                        <p> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-icon">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="service-text">
                        <h4>Responsive Design</h4>
                        <p> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-icon">
                        <i class="fa fa-plane"></i>
                    </div>
                    <div class="service-text">
                        <h4>Seo ready</h4>
                        <p> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service-area-end -->
<!-- team-area-start -->
<div class="team-area pt-100 pb-70 bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-title text-center">
                    <h2>Our Team</h2>
                    <p>Creative minds with the extraordinary skills.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="single-team mb-30">
                    <div class="team-item">
                        <div class="team-img">
                            <a href="#"><img src="/img/team/1.jpg" alt="" /></a>
                        </div>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                    <div class="team-inner text-center">
                        <h6>Michael Thomas</h6>
                        <span>Programmer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="single-team mb-30">
                    <div class="team-item">
                        <div class="team-img">
                            <a href="#"><img src="/img/team/2.jpg" alt="" /></a>
                        </div>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                    <div class="team-inner text-center">
                        <h6>Adam Hines</h6>
                        <span>Creative Director</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="single-team mb-30">
                    <div class="team-item">
                        <div class="team-img">
                            <a href="#"><img src="/img/team/3.jpg" alt="" /></a>
                        </div>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                    <div class="team-inner text-center">
                        <h6>Laurence Benson</h6>
                        <span>Art Director</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="single-team mb-30">
                    <div class="team-item">
                        <div class="team-img">
                            <a href="#"><img src="/img/team/4.jpg" alt="" /></a>
                        </div>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                    <div class="team-inner text-center">
                        <h6>Robert Fields</h6>
                        <span>Account Manager </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
